a {
  text-decoration: none; }

.banner-products {
  background-image: linear-gradient(to right, #a7d2cb, #7d2ae8);
  /* Standard syntax (must be last) */
  display: none;
  height: 200px;
  width: 100%; }

.banner-deals {
  background-image: linear-gradient(to right, #00c4cc, #7d2ae8);
  /* Standard syntax (must be last) */
  display: none; }

.banner-partners {
  background-image: linear-gradient(to right, #ffc0cb, #7d2ae8);
  /* Standard syntax (must be last) */
  display: none; }
