.dropdown .dropdown-toggle {
  color: #000; }

.gaming-menuitems li {
  list-style: none; }

.gaming-menuitems a {
  cursor: pointer;
  text-decoration: none; }
  .gaming-menuitems a :active {
    color: #fb7f59; }

.gaming-content-section .products-image {
  border: 0.5px solid #eee;
  max-width: 100%;
  padding: 10px; }

.container {
  padding-top: 30px; }

.selected-item-products {
  padding: 10px; }

.products-price {
  text-align: center; }
