@import '../../variables';

.dropdown {
  .dropdown-toggle {
    color: $black-color;
  }
}

.gaming-menuitems {
  li {
    list-style: none;

    a {
      cursor: pointer;
    }
  }
}

.gaming-content-section {

  .products-image {
    border: .5px solid $gray;
    max-width: 100%;
    padding: 10px;
  }
}

.container {
  padding-top: 30px;
}
