@import '../../variables';

.categories {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .col-md-3 {
    border: .5px solid $gray;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
    text-align: center;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .softwares {
    background-color: $grape-color;
    color: $white;
  }
}

.software-services-body {
  td {
    button {
      background: none;
      border: .5px solid transparent;
      color: rgba($sky-blue-color, 1);

      &:hover,
      &:focus,
      &:active,
      &:active:focus,
      &:active:hover {
        background-color: $gray;
        border-color: $gray;
        color: $black;
      }
    }
  }
}

.modal-image {
  float: left;
  position: relative;
  right: 20px;
}

.itemdescriptions {
  color: $grape-color;
}

.add-to-cart.btn-default {
  background-color: $gray;
  border: 1px solid #808080;
  color: $black;
  margin: 8px;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color: #808080;
    border: 1px solid #808080;
    color: $white;
    margin: 8px;
  }
}


