a {
  text-decoration: none; }

.wrapper1 {
  border: 1px solid #eee;
  padding: 8px; }

.gallery {
  background-color: #f6f6f5;
  padding: .9375rem; }

.gallery-card {
  border: 0.5px solid #a8a4a4;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 275px; }
  .gallery-card .images-card {
    max-width: 100%; }

.gallery-thumbnail {
  border-radius: 4px;
  height: auto;
  max-width: 100%; }
  .gallery-thumbnail :focus ~ .card-icon-open,
  .gallery-thumbnail :hover ~ .card-icon-open {
    opacity: 1; }

.card-icon-open {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out; }
  .card-icon-open:focus, .card-icon-open:hover {
    color: #000;
    opacity: 1; }

.modal-overlay {
  background: #000 21, 21, 21, 0.75;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }

.modal-body {
  padding: 20px; }
  .modal-body img {
    max-width: 50%; }

.modal-close {
  color: #000;
  font-size: 1.5rem;
  position: absolute;
  right: 8px;
  top: 0;
  transition: all 0.25s ease-in-out; }
  .modal-close:focus, .modal-close:hover {
    color: #fff; }

.card-detail {
  color: #000;
  display: grid; }
  .card-detail .item-price {
    text-align: right; }

.input-quantity {
  margin-left: 30px;
  margin-top: 20px; }
  .input-quantity .input-control {
    margin-right: 15px;
    padding: 5px;
    width: 60px; }
  .input-quantity .input-group {
    display: inline; }

.btn-group.addcart {
  margin-left: 15px; }
