.categories .col-md-3 {
  border: 0.5px solid #eee;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  text-align: center; }

.categories img {
  max-height: 100%;
  max-width: 100%; }

.categories .softwares {
  background-color: #9954bb;
  color: #fff; }

.software-services-body td button {
  background: none;
  border: .5px solid transparent;
  color: #46b8da; }
  .software-services-body td button:hover, .software-services-body td button:focus, .software-services-body td button:active, .software-services-body td button:active:focus, .software-services-body td button:active:hover {
    background-color: #eee;
    border-color: #eee;
    color: #000; }

.modal-image {
  float: left;
  position: relative;
  right: 20px; }

.itemdescriptions {
  color: #9954bb; }

.add-to-cart.btn-default {
  background-color: #eee;
  border: 1px solid #808080;
  color: #000;
  margin: 8px; }
  .add-to-cart.btn-default:hover, .add-to-cart.btn-default:focus, .add-to-cart.btn-default:active, .add-to-cart.btn-default:visited {
    background-color: #808080;
    border: 1px solid #808080;
    color: #fff;
    margin: 8px; }
