.categories .col-md-3 {
  border: 0.5px solid #eee;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  text-align: center; }

.categories img {
  max-height: 100%;
  max-width: 100%; }

.categories .softwares {
  background-color: #9954bb;
  color: #fff; }

.software-services-body td button {
  background: none;
  border: 0;
  color: #46b8da; }
  .software-services-body td button:hover:focus {
    color: #2020ab;
    background: none;
    border: 0; }
