@import '../../variables';

.categories {
  .col-md-3 {
    border: .5px solid $gray;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
    text-align: center;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .softwares {
    background-color: $grape-color;
    color: $white-color;
  }
}

.software-services-body {
  td {
    button {
      background: none;
      border: 0;
      color: rgba($sky-blue-color, 1);
      &:hover
      {
        &:focus {
          color: rgba(#2020ab, 1);
          background: none;
          border: 0;
        }
      }
    }
  }
}

