.categories .col-md-3 {
  border: 0.5px solid #eee;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  text-align: center; }

.categories img {
  max-height: 100%;
  max-width: 100%; }

.categories .softwares {
  background-color: #9954bb;
  color: #fff; }

.software-services-body td button {
  background: none;
  border: .5px solid transparent;
  color: #46b8da; }
  .software-services-body td button:hover, .software-services-body td button:focus, .software-services-body td button:active, .software-services-body td button:active:focus, .software-services-body td button:active:hover {
    background-color: #eee;
    border-color: #eee;
    color: #000; }
