@import  '../variables';

$pink-color: #ffc0cb;

a {
  .test {
    border: 2px solid $black-color;

    &:active {
      border: 2px solid $black-color;
    }
  }
}

.wrapper {
  background-color: $pink-color;
  color: green;
}

