a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 63px 0; }
  .container .wrapper-coupon {
    border: 1px solid #ba3434;
    color: #fff;
    display: flex;
    margin: 0 0 20px;
    padding: 2px;
    text-align: right;
    width: 600px; }
    .container .wrapper-coupon .vertical {
      background-color: #000;
      color: #ffc0cb;
      padding: 8px;
      text-align: center;
      writing-mode: vertical-rl; }
      .container .wrapper-coupon .vertical p {
        font-size: 18px; }
    .container .wrapper-coupon .horizontal {
      background-color: #ba3434;
      border: 5px dotted #000; }
      .container .wrapper-coupon .horizontal .coupon-timer {
        font-size: 2em;
        padding: 4px; }
      .container .wrapper-coupon .horizontal .title {
        font-size: 3em;
        padding: 8px;
        text-align: center; }
      .container .wrapper-coupon .horizontal p {
        font-size: 2em; }
      .container .wrapper-coupon .horizontal .coupon-value {
        font-size: 50px;
        padding: 8px; }
