.head {
  background-color: #6f5499;
  color: #000; }

.company-title {
  color: #fff; }
  .company-title:hover, .company-title:visited, .company-title:active, .company-title:focus {
    color: #fff;
    text-decoration: none; }
