@import '../../variables';

.head {
  background-color: #6f5499;
  color: $font-color;
}

.company-title {
  color: $white-color;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: $white-color;
    text-decoration: none;
  }
}
