a {
  text-decoration: none; }

@media only screen and (max-width: 500px) {
  .mdl-layout .mdl-js-layout .mdl-layout__drawer {
    display: none; } }

.head {
  color: #000;
  position: relative; }

.company-title {
  color: #fff; }
  .company-title:hover, .company-title:visited, .company-title:active, .company-title:focus {
    color: #fff;
    text-decoration: none; }
