@import '../../variables';

.mdl-layout__header {
  background-color: $theme-color;
  border-color: $theme-color;

  .navbar-nav {
    li {
      a {
        color: $black-color;
        font-size: $heading-size;

        &:focus,
        &:hover {
          background-color: $salmon-color;
        }
      }
    }
  }
}
