@import '../../variables';

.mdl-layout__header {
  background-color: $theme-color;
  border-color: $theme-color;

  .navbar-nav {
    li {
      a {
        color: $white-color;
        font-size: $heading-size;

        &:focus,
        &:hover,
        &:active {
          background-color: $salmon-color;
        }

        .child-link {
          color: $black-color;
          font-size: 15px;
        }
      }

      img {
        padding: 14.5px;
      }
    }
  }
}


