$white-color: #fff;
$black-color: #000;
$theme-color: #a7d2cb;
$font-color: $black-color;
$salmon-color: #c0b283;
$grape-color: #9954bb;
$purple-banner: #7d2ae8;
$blue-banner: #00c4cc;
$pink: #ffc0cb;
$gray: #eee;
$darkgray: #a8a4a4;
$background: #f6f6f5;
$sky-blue-color: #46b8da;
$red-color: #ba3434;

$heading-size: 20px;
$radius-gallery: 4px;
$transition: all .25s ease-in-out;
