$white-color: #fff;
$black-color: #000;
$theme-color: #a7d2cb;
$font-color: $black-color;
$salmon-color: #c0b283;

$gallery-background: #dcd0c0;

$heading-size: 20px;
$radius-gallery: 4px;
$transition: all .25s ease-in-out;
