.img {
  display: inline-block;
  position: relative; }

.image1 {
  top: 110px;
  z-index: 2; }

.image2 {
  margin-left: -40px;
  position: absolute;
  top: 122px; }

.image3 {
  position: absolute; }
